@{
    ViewData["Title"] = "Home Page";
}


<h2 class="mb-4">Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <a asp-controller="Members" asp-action="Index" class="card text-white bg-primary mb-4 text-decoration-none">
            <div class="card-body">
                <h5 class="card-title">Total Members</h5>
                <h2 class="card-text">@ViewBag.TotalMembers</h2>
            </div>
        </a>
    </div>
</div>